<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Data.Template" version="1.1.1" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.900.148" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net452" />
</packages>